.footer {
  padding: 40px 0 30px;
  background-color: #222;
}

.footer__container {
  display: grid;
  grid-template-areas:
    "logo ."
    "copyright developers";
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  gap: 50px;
}

.footer__logo {
  width: 100%;
  max-width: 460px;
  grid-area: logo;
}

.footer__copyright {
  grid-area: copyright;
  align-self: end;
}

.footer__developers {
  grid-area: developers;
  justify-self: end;
}

.footer__developer {
  margin-bottom: 7px;
}

.footer__developer:last-child {
  margin-bottom: 0;
}

.footer__developer-link:hover {
  color: #d10014;
}

@media (max-width: 660px) {
  .footer {
    padding: 24px 0 20px;
  }

  .footer__container {
    gap: 0;
    grid-template-areas:
      "logo"
      "copyright"
      "developers";
  }

  .footer__logo {
    max-width: 230px;
    margin-bottom: 32px;
  }

  .footer__copyright {
    margin-bottom: 16px;
  }

  .footer__developers {
    justify-self: start;
  }
}
