.header {
  background-color: #222;
  padding-top: 32px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.header__logo {
  width: 254px;
}

.header__link {
  padding: 12px 20px;
  border-radius: 50px;
  background-color: #f0f4f4;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border: 1px solid transparent;
  outline: none;
}

.header__link:hover {
  background-color: #e4f0f0;
}

.header__link:focus-visible {
  border-color: #d10014;
}

@media (max-width: 1080px) {
}

@media (max-width: 900px) {
  .header {
    padding-top: 24px;
  }

  .header__logo {
    width: 180px;
  }
}

@media (max-width: 660px) {
  .header {
    padding-top: 16px;
    padding-bottom: 24px;
  }
}
