.hero {
  padding: 98px 0 50px;
  background: #222 url("../img/wheel.png") center/contain no-repeat;
}

.hero__title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 160px;
  font-weight: 900;
  line-height: 150%;
}

.hero__title-up {
  align-self: start;
}

.hero__title-down {
  align-self: end;
  margin-top: -70px;
}

.hero__intro {
  display: flex;
  justify-content: space-between;
  margin-top: -13px;
}

.hero__year {
  align-self: end;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.hero__tagline {
  width: min-content;
  color: #d10014;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  padding-bottom: 4px;
}
